name: CI
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: Julia ${{ matrix.julia-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ["1", "1.8", "nightly"]
        os: [ubuntu-latest]
        include:
          - julia-version: "1"
            os: windows-latest
          - julia-version: "1"
            os: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: x64
      - uses: julia-actions/cache@v1
      - name: Cache CondaPkg
        id: cache-condaPkg
        uses: actions/cache@v3
        env:
          cache-name: cache-condapkg
        with:
          path: .CondaPkg
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('docs/CondaPkg.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
        if: ${{ matrix.julia-version == '1' && matrix.os =='ubuntu-latest' }}
